 .navbar{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    
}



.logout-dash{
    position: absolute;
    right: 10%;

}
.search-bar{
    height:100px;
    width: 300px;
  
}

    


 .logo_image_signup_dash{
    position: absolute;
    left: 15%;
    height: 50px;
} 