 .navbar{
    display: flex;
    direction: row;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    height: 5%;
    /* position: fixed; */
    

}


.logout-dash{
    display: flex;
    /* position: absolute;
    right: 10%;
    top: 25px; */

}

    
.logo-container{
    display: flex;
    height: 48px;
    width: 48px;
    justify-content: center;
    align-items: center;
}

 .logo_image_signup_dash{
     
     width: 30px;
     height: 30px;
    
} 

.dash-search{
    display: flex;
    max-width: 1024px;
    flex-direction: column;
    align-items: flex-start;
    /* overflow: auto; */
    
   
}

.fa-search:before {
    content: "\f002";
    position: absolute;
    top: 13px;
    left: 15px;
}
