.welcome_msg{
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 30px;
}
.page{
    display: flex;
}



.login-img-div{
    
    /* background-image: image("./images/login_img.png"); */
    overflow: hidden;
    width: 50%;
    height: 100%;
}

label{
    margin-top: 25px;
}
input, label {
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
    display:block; 

}




.login-username{
    width: 350px;
    height: 40px;
    padding: 15px;
    box-sizing: border-box;
    border: 2px solid #FAFAFA;
    background-color: #FAFAFA;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
   
}

.login-password{
    width: 350px;
    height: 40px;
    padding: 15px;
    box-sizing: border-box;
    border: 2px solid #FAFAFA;
    background-color: #FAFAFA;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.login-password:hover{
    border-color: lightgray;
}





.form-div{
    margin-top: 15%;
    width: 50%;
    margin-left: 3%;
    /* position: absolute;
    right: 21%;
    top: 30%; */
    font-family: sans-serif;
    /* margin-right: 0; */
    height: 65%;
    /* margin-block-start: 20%; */
}


.login-image{
    width: 100vh;
    height: 100vh;
    float: left;
    margin-right: 8%;
    display: flex;
    overflow: hidden;

}

.DemoUser_Button{
    min-width: 120px;
    max-width: 160px;;
    text-align: center;
    height: 55px;
    background-color: #21CE99;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    margin-top: 5%;
    display: block;
    border: none;

}

.SignIn_Button{
    min-width: 120px;
    max-width: 160px;;
    text-align: center;
    height: 55px;
    background-color: #21CE99;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    margin-top: 5%;
    display: block;
    border: none;

}
.sign_link_login{
   
    text-decoration: none;
    min-width: 120px;
    max-width: 120px;;
    text-align: center;
    /* height: 55px; */
    background-color: #21CE99;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    margin-top: 5%;
    display: block;
    padding-top: 18px;
    padding-bottom: 18px;
}

/* .input_first_name, .input_last_name, .input_username, .input_password, :valid {
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 20px 20px;

} */

.errors{
      padding: 0 30px 0 50px;
      color: #999;
      max-height: 0;
      transition: 0.28s;
      overflow: hidden;
      color: red;
      font-style: italic;
}




