.welcome_msg{
    font-family: sans-serif;
    font-weight: 500;
}
label{
    margin-top: 25px;
}
input, label {
     display:block; 

}

.login-username{
    width: 350px;
    height: 40px;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    background-color: #FAFAFA;
    border-radius: 10px;
}

.login-password{
    width: 350px;
    height: 40px;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    background-color: #FAFAFA;
    border-radius: 10px;
}
.login-password:hover{
    border-color: lightgray;
}





.form-div{
    position: absolute;
    right: 21%;
    top: 30%;
    font-family: sans-serif;
    margin-right: 0;
}


.login-image{
    width: 55%;
    height: 100%;
    float: left;
    margin-right: 8%;
    display: flex;

}

.DemoUser_Button{
    min-width: 120px;
    max-width: 160px;;
    text-align: center;
    height: 55px;
    background-color: #21CE99;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    margin-top: 10%;
    display: block;

}

.SignIn_Button{
    min-width: 120px;
    max-width: 160px;;
    text-align: center;
    height: 55px;
    background-color: #21CE99;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    margin-top: 10%;
    display: block;

}

