.search-input{
    position: absolute;
    left: 23%;
    top: 25px;
    width: 500px;
    height: 38px;

}
.searchList{
    width: 500px;
  
   
    
}

.search-container{
    display: flex;
    align-content: center;
   
    
}



.fa-search{
    position: absolute;
}

