.search-input{
    /* position: absolute; */
    left: 23%;
    top: 25px;
    width: 402px;
    padding: 0 24px 0 52px;
    height: 38px;

}

.element{
    text-decoration: none;
    margin: 0 0 5px 0;
}
.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    color: #21CE99;
}
.searchList{
    position: fixed;
    top: 70px;
    outline: 5px black;
}

.inner-container{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;

}

          
          
          

          

ul.search-container{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    max-height: 900px;
    
}

/* li {
    height: fit-content;
} */


.fa-search{
    position: absolute;
}

