
.buttons{
    position: absolute;
    top: 10px;
    right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: sans-serif;
    width: 180px;
}





.Signup{
    background-color: #21CE99;
    color: white;
    border-radius: 30px;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;
    height: 30px;
    width: 100px;
    /* padding-left: 20px; */
    padding-top: 15px;
    text-align: center;
    
}



.loginLink{
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
   

}


.invest-block{
    margin-left: 10%;
}

.loginLink:hover {
    text-decoration: underline;
}

.Signup:hover {
    text-decoration: underline;
}
.invest-word{
    font-size: 48px;
    font-weight: bold;
    color: black;
    margin-top: 15%;
    display: block;
    margin-bottom: 0;
    font-family: sans-serif;


}
.commision-word{
    font-size: 48px;
    font-weight: bold;
    color: black;
    margin-top: 0;
    font-family: sans-serif;
}

.invest-para{
     font-family: sans-serif;
     font-size: 17px;
     font-weight: 100;
     margin-left: 10%;
     margin-bottom: 5%;
     margin-top: 2%;

}
.Signup_second{
    background-color: #21CE99;
    color: white;
    border-radius: 30px;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    font-weight: bold;
    text-decoration: none;
    padding-top: 18px;
    padding-right: 28px;
    padding-bottom: 18px;
    padding-left: 28px;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    margin-left: 10%;
    margin-top: 5%;


}
.Signup_second:hover {
    text-decoration: underline;
}
.background-image{
    width: 40%;
    height: 40%;
    float: right;
    margin-right: 8%;
    margin-top: 7%;

}

.input-password{
    width: 100px;

}
.input-username{
    width: 100px;

}


.links_home{
    display: inline-flex;
    align-content: center;
    margin-left: 10%;
    
    
}
.logo_image{
   position: absolute;
   top: 2%;
   height: 50px;
   
    /* display: inline-block; */

}
.a_tag{
    margin-right: -30px;
}
.logo{
    position: absolute;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    top: 4%;
    margin-left: 70px;
    
}

.logo:hover {
    color: #21CE99;
}