.tooltip{
    position: absolute;
    top:20px;
    color: red;
}


.chart{
     display: flex;
     margin-left: 5%;
    
}

.content-container{
    display: block;
    margin-top: 5%;
    margin-left: 15%;
    font-family: sans-serif;
    width: 40%;
}
.name-container{
    margin-bottom: 5px;
}

.header-name{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.pricecontainer{
    display: block;
    font-family: sans-serif;
}
.current-price{
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 200px;
    
}

.chart-buttons{
    display: flex;
    justify-content: flex-start;
   border-bottom: solid 2px whitesmoke;
   margin-bottom: 3%;
   margin-top: 2%;
}

.diff{
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
}

.about-header{
    font-size: 28px;
    font-family: sans-serif;
    font-weight: 200px;
}

.about-container{
    border-bottom: solid 2px whitesmoke;
    margin-bottom: 3%;
}

.descriptionContainer{
    margin-bottom: 3%;
    line-height: 22px;

}

.description-tag1{
    display: flex;
    
   
}
.description-tag1 div{
    display: grid;
    /* margin-left: 2%; */
    line-height: 22px;
    
    

}
.description-tag2{
    margin-top: 1%;
    display: flex;
    
     
}
.description-tag2 div{
    display: grid;
    /* margin-left: 2%; */
    line-height: 22px;
    
} 

.chart-buttons button{
    border: none;
    background-color: white;
    font-size: 15px;
    
}


#more {
    display: none;
}
.description-parent{
    display: block;
}