.tooltip{
    position: absolute;
    top:20px;
    color: red;
    // transition: color 300ms;
}


    


.nav-container {
    position: sticky;
    top: 0;
    z-index: 5;
}

.chart{
     display: flex;
     margin-left: 5%;
    
}





.content-container{
   
    display: flex;
    margin-top: 5%;
    margin-left: 13%;
    
    font-family: sans-serif;
    margin-top: 5%;
    margin-left: 13%;
    
    // position: relative;
  
    // z-index: 5;
    
   
}

.info-container{
    max-height: auto;
    overflow-y: scroll;
    // display: flex;
    // margin-top: 5%;
    // margin-left: 13%;
    margin-right: 5%;
    width: 50%;
    height: 100%;
    
    font-family: sans-serif;
}

.buy-sell-container{
    flex: 0 0 30%;
}

.form-box{
    position: fixed;
    top: 120px;
    width: 275.77778px;
}

.form-container{
    background-color: #fff;
    box-sizing: border-box;
    border-color: #f4f4f5;
    padding: 0 24px;
    position: relative;
    box-shadow: 0 0 4px 1px whitesmoke, 0 3px 24px whitesmoke;
    border-radius: 4px;
}

.form-heading{
    align-items: center;
    border-bottom: 1px solid;
    display: flex;
    height: 52px;
    justify-content: space-between;
    margin: 0 -24px;
    padding: 4px 24px 0;
    margin-bottom: 5%;
}

.share-input-container{
     display: flex;
     height: 52px;
     justify-content: space-between;
     padding: 4px 24px 0;
     margin: 0 -24px;
    
}

.share-input{
    width: 82px;
    height: 20px;
    padding-left: 10px;
}

.market-price{
    display: flex;
     height: 52px;
     justify-content: space-between;
     padding: 4px 24px 0;
     border-bottom: 1px solid;
     margin: 0 -24px;
     margin-bottom: 5%;
     
}
.estimated-cost{
     display: flex;
     height: 52px;
     justify-content: space-between;
     padding: 4px 24px 0;
     margin: 0 -24px;
     

}

.review-button{
    height:48px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color:  #21CE99;
    margin-bottom: 5%;
}
.review-button-container{
    // border-bottom: 1px solid;
    margin: 0 -24px;
    padding: 4px 24px 0;

}






.header-name{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.pricecontainer{
    display: block;
    font-family: sans-serif;
}

.current-price{
    font-family: sans-serif;
    font-size: 36px;
    // font-weight: 200px;
    font-weight: 400;
    letter-spacing: -0.7px;
    // transition: color 300ms;
    
    
}

.chart-buttons{
    display: flex;
    justify-content: flex-start;
   border-bottom: solid 2px whitesmoke;
   margin-bottom: 3%;
   margin-top: 2%;
}

.diff{
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
}

.about-header{
    font-size: 28px;
    font-family: sans-serif;
    font-weight: 200px;
}

.about-container{
    border-bottom: solid 2px whitesmoke;
    margin-bottom: 3%;
}

.descriptionContainer{
    margin-bottom: 3%;
    line-height: 22px;

}




.chart-buttons button{
    border: none;
    background-color: white;
    font-size: 15px;
    
}


#more {
    display: none;
}
.description-parent{
    display: block;
}

.recharts-wrapper{
    padding-top: 12%;
    margin-top: 2%;
    position: relative;
    z-index: 1;
    
}
.tags-container{

    max-height: auto;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 18px;
    justify-content: space-between;
    /* height: 300px; */

}
.tags-container-bottom, .tags-container-top{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */


}

#tag-container-item{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin-bottom: 12px;
    margin-right: 6px;
    width: 160px;
    line-height: 19px;
    letter-spacing: 0.25;

}
p#label-header{
    font-weight: 700;

}
.button-color:focus{
    color:  #21CE99;
}

.news-element{
   display: flex;
   margin-bottom: 5%;
   
}

.news-image{
    height: 134px;
    width: 196px;
    border-radius: 4px;
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
}

.headline-source{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 400;
    flex-grow: 1;
}

.news-header{
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -0.14px;
    line-height: 30px;
}

.news-header-container{
    border-bottom: solid 1px whitesmoke;
    margin-bottom: 3%;
}
.source{
    font-weight: bold;
}

